<h1>Welcome to Your Budget Management App</h1>
<p>Track and manage your budget with ease.</p>
<%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
<%= link_to 'Log in', new_user_session_path, class: 'btn btn-secondary' %>

<%# <div class = "container splash_screen">
  <h1>Budget Buddy</h1>
</div> %>