<div class = "container splash_screen">
  <h1>Budget Buddy</h1>
</div>

<div class = "registration_container">
  <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn btn-primary' %>
  <%= link_to 'LOG IN', new_user_session_path, class: 'btn btn-secondary' %>
</div>